In [136]:
pip install numpy pandas pigeon-jupyter -q

Note: you may need to restart the kernel to use updated packages.

In [137]:
import os.path
import pandas as pd
import numpy as np
import pigeon
from IPython.display import Image, display, TextDisplayObject

In [138]:
IMGS_DIR = os.path.join('..', 'movie-images')
MOVIES_DIR = os.path.join('..', 'frequently_reviewed.csv')

In [139]:
def get_img_path_from_id(imdb_id):
    return os.path.join(IMGS_DIR, f'{imdb_id}.jpeg')

In [106]:
def display_fn(row):
    imdb_id, title = row
    return display(title, Image(get_img_path_from_id(imdb_id)))

In [125]:
def annotations_to_df(annot):
    return pd.DataFrame([(imdb_id, rating) for (imdb_id, title), rating in annot], 
                        columns=('imdb_id', 'rating'))

In [129]:
def annotations_to_ratings_df(annot, movies):
    as_df = annotations_to_df(annot)
    return pd.merge(movies, as_df, 'outer', on='imdb_id')

In [107]:
movies = pd.read_csv(MOVIES_DIR, usecols=('title', 'imdb_id'))

In [109]:
annot = pigeon.annotate(movies.values, options=['1', '2', '3', '4', '5'], display_fn=display_fn)

HTML(value='0 examples annotated, 5 examples left')

HBox(children=(Button(description='1', style=ButtonStyle()), Button(description='2', style=ButtonStyle()), But…

Output()

Annotation done.

In [131]:
annotations_to_ratings_df(x, movies).to_

       imdb_id                               title rating
0    tt1375666                           Inception      4
1    tt0468569                     The Dark Knight    NaN
2    tt0816692                        Interstellar    NaN
3    tt2015381             Guardians of the Galaxy      5
4    tt0137523                          Fight Club    NaN
..         ...                                 ...    ...
194  tt0181852  Terminator 3: Rise of the Machines    NaN
195  tt0349903                      Ocean's Twelve    NaN
196  tt0343660                      50 First Dates    NaN
197  tt0829482                            Superbad    NaN
198  tt0096895                              Batman    NaN

[199 rows x 3 columns]